.panda-bg-info {
  background-color: #feeae9;
}
.categories img {
  width: 100px;
}
.button-link {
  background-color: #ff2e80;
  border-radius: 8px;
  padding: 9px 25px;
  border: none;
  color: #feeae9;
}
.bg-Subscribe {
  background-color: #feeae9;
}
